*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card .content
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    transition-delay: .5s;
    transition: .5s;
    opacity: 0;
}



.container .card:hover .content
{
    opacity: 1;
    transition-delay: .5s;
}

.container .card .content h2
{
    color: var(--clr);
    font-weight: 600;
    letter-spacing: .1em;
}

.container .card .content p
{
    text-align: center;
    color: #fff;
}

.container .card .content a
{
    color: #fff;
    padding: 11px 15px;
    text-decoration: none;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: var(--clr);
}

.container .card .textBx,
.container .card .imgBx
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container .card .imgBx
{
    background: #fff;
    height: 120px;
    z-index: 1;
    transition-origin: top;
}

.container .card:hover .imgBx
{
    transform: translateY(-100%) rotateX(90deg)
}

.container .card .textBx
{
    height: 280px;
    background: var(--clr);
    border-top: 8px solid #333;
    transition-origin: top;
    transition-delay: 0.5s;
    align-items: flex-end;
    overflow: hidden;
}

.container .card .textBx h2
{
    color: #222;
    font-size: 1.25em;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
    padding: 5px 25px;
    box-shadow: 0 0 0 8px #333;
}

.container .card:hover .textBx
{
    transform: translateY(100%) rotateX(90deg)
}

.container .card .imgBx::before
{
    content:'';
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 74px;
    background: #fff;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    z-index: 1;
}

.container .card .imgBx img
{
    position: relative;
    top: 50px;
    z-index: 1000;
    max-width: 100px;
}

.container .card .textBx::before
{
    content:'';
    position: absolute;
    top: -8px;
    width: 160px;
    height: 80px;
    background: #333;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}



