html
{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}
/*
    ! arreglar detalles de colores
*/
body
{
    font-size: 1rem;   
    background-color: #fff;
    color: #333;
}

a
{
    text-decoration: none;
    color: #161515;
}

a:hover
{
    color: #7A8A2B;
    transition: ease 0.5s;
}

a.active
{
    color: #7A8A2B;
}

nav
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 7rem;
    min-width: 5rem;
    max-width: 10rem;
    background-color: #332f2f;
    height: 100vh;
}
/* * Header */
nav > .header
{
    width: 100%;
    max-width: 10rem;
    background-color: #161515;
}

nav > .header > .cont-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161515;
    width: 100%;
    max-width: 10rem;
}

nav > .header > .cont-icon > .icon
{
    font-size: 7rem;
    display: block;
    color: #333;
}

nav > .header > .cont-icon > .icon:hover
{
    color: #7A8A2B;
    transition: ease 0.5s;
}

/* nav > .header > .cont-icon > img
{

    background-color: red;
    width: 10rem;
} */
/* * body */
nav > .body 
{
    width: 100%;
    max-width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav > .body > .cont-links
{

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 100%;
    
}

nav > .body > .cont-links > .link
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

nav > .body > .cont-links > .link > i
{
    font-size: 50px;
}

nav > .body > .cont-links > .link > .name
{
    position: absolute;
    background: #333;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 6px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}


nav > .body > .cont-links > .link:hover > .name
{
    opacity: 1;
    visibility: visible;
    transform: translateX(0) translateY(-150%);
}

/* * footer */
nav > .footer
{
    width: 100%;
    margin-bottom: 0.5rem;
}

nav > .footer > hr
{
    width: 80%;
    height: 10%;
    border: none;
    text-align: center;
    background-color: #161515;
    margin-bottom: 10px;
    margin-left: 10%;
}

nav > .footer > .cont-medias
{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

/*
    en W = 374 es el maximo que puede mantener el tamaño grande, Pero en realidad me gustaria que cambiara a partir de 665
*/